.landing-main {
  background-color: var(--primary-color);
  
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.landing-btn {
  padding-top: 20px;
  padding-right: 30px;
  position: absolute;
  right: 0;
}
