.button-main {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  padding: 12px 25px;
  text-transform: capitalize;
}

.light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.dark {
  color: var(--light-color);
  background-color: var(--dark-color);
}
