.home-main {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.home-container {
  max-width: 1399px;
  margin: 30px;
}

.home-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
