.nav-main {
  min-height: 10%;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--muted-color);
}

.nav-logo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--grey-01);
  letter-spacing: 1px;
}

.nav-search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-input { 
  width: 380px;  
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
  font-size: 1rem;
  margin-bottom: 3px;
  color: var(--text-dark);
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-input::placeholder {
  text-transform: capitalize;
  color: var(--muted-color);
  font-weight: 500;
}

.nav-options{
  display: flex;
  align-items: center;
}

.nav-icon{
  margin-right: 15px;
  cursor: pointer;
}

.nav-icon.minimize{
  font-size: 2rem;
  color: var(--muted-color);
}

.nav-icon.resize{
  font-size: 1.5rem;
  color: var(--muted-color);
}

.nav-icon.close{
  font-size: 2rem;
  color: var(--warning-color);
}