:root {
  --main-dark-bg-color: #05386b;
  --main-light-bg-color: #5cdb95;
  --main-light-bg-color-opacity: rgba(92, 219, 149, 0.5);
  --main-dark-color: #379683;
  --main-light-color: #8ee4af;
  --light-color: #edf5e1;
  --red-color: #ee4b2b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  height: 100%;

  background-color: var(--main-light-bg-color);
  color: var(--main-dark-bg-color);

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
